html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
}

body{
    width: 100%;
    height: 90% auto;
    background: rgba(245, 249, 255, 1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

main{
    width: 650px;
    height: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 24px 32px;
    gap: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

h1{
    width: 100%;
    height: 47px;
    font-size: 4rem;
    font-size: Rubik;
}

#input-tarafas{
    width: 100%;
    height: 50px;
    gap: 16px;
}

#input-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input-form > input{
    width: 234px;
    height: 100%;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

#input-form > input::placeholder{
    font-size: 1.6rem;
    font-family: Rubik;
}

#input-form > button{
    width: 45px;
    height: 45px;
    gap: 0px;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(45, 112, 253, 1);
    color: #fff;
    border: 1px solid rgba(45, 112, 253, 1);
}

.inputBotao-label-container{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 17.6px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 23, 71, 1);

    & > button{
        width: 121px;
        height: 44px;
        padding: 12px 24px 12px 24px;
        gap: 8px;
        border-radius: 4px;
        border: 1px;
        opacity: 0px;
        background: rgba(45, 112, 253, 1);
        color: #fff;
        cursor: pointer;

    }
    & > p {
        width: 7%;
        height: 70%;
        margin-top: 0;
        background-image: url(img/image.png);
        background-repeat: no-repeat;
        display: none;
    }
}

#selecao-de-lista > #lista{
   padding: 0;
}

#selecao {
    border: 2px solid rgb(53, 51, 51);
}

#selecao-de-lista > #lista > li{
    width: 586px;
    height: 103px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 32px 24px 32px;
    margin-bottom: 20px;
    gap: 8px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

#footer-concluidas {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
}
   
/* Responcividade mobile */

@media only screen and (max-width: 767px){
    
    main{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        width: 100%;
        height: 38px;
        margin-bottom: 5px;
        font-size: 3.2rem;
        font-weight: 600;
        color: rgba(17, 23, 94, 1);
    }

    #input-tarafas{
        width: 100%;
        height: 100%;
        gap: 16px;        
    }

    #input-form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #input-form > input{
        width: 85%;
        margin-bottom: 10px;
    }

    #input-form > button{
        width: 100%;
        height: 45px;
        font-size: 1.8rem;
        margin: 10px 0;
    }
    
    .inputBotao-label-container{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    
    #selecao-de-lista {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    #selecao-de-lista > #lista{
       width: 100%;
       padding: 0;
       flex-direction: column;
       align-items: center;
    }

    #selecao-de-lista > #lista > li{
        width: 80%;
        height: 204px;
        font-size: 1.6rem;
        text-align: left;
    }

    .inputBotao-label-container{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;        
        align-items: center;
        line-height: 30px;
        text-align: left;
    }

    .inputBotao-label-container > label {
        width: 100%;
    }
    .inputBotao-label-container p {
            width: 20%;
            height: 20%;
    }
    
    .inputBotao-label-container span{
        width: 100%;
        font-size: 1.4rem;
        color: rgba(177, 186, 203, 1);
        text-align: left;

    }
}


/* Responcividade Descktop */
/* @media only screen and (max-width: 1023px){

} */